body {
  background-color: rgba(37, 88, 120, 1);
}

/* style de la classe du container avec tailwind*/
.containerFormLogin {
  @apply h-[90%] flex justify-center items-center;
}

/* formulaire de la page d'inscription */
.formLogin {
  background-color: rgba(42, 163, 239, 0.1);
  border-radius: 35px;
}

/* style du formulaire de la page avec tailwind */
.formLogin {
  @apply flex flex-col items-center w-[600px];
}

/* input */

.inputLogin {
  @apply my-3 text-[16px] font-bold font-poppins placeholder:text-gray-300 placeholder:font-bold placeholder:text-[16px] placeholder:font-poppins;
}

/* button */

.buttonLogin {
  @apply m-8;
}
