body {
  background-color: rgba(37, 88, 120, 1);
}

/* style de la classe du container avec tailwind*/
.containerFormRegister {
  @apply flex justify-center items-center min-h-screen;
}

/* formulaire de la page d'inscription */
.formRegister {
  position: relative;
  background-color: rgba(42, 163, 239, 0.1);
  border-radius: 35px;
}

/* style du formulaire de la page avec tailwind */
.formRegister {
  @apply flex justify-center flex-col items-center w-[600px] h-[679px];
}

/* container des infos concernant le formulaire inscription*/

.containerInfoForm {
  position: absolute;
  top: 25px;
}

.containerInfoForm {
  @apply text-center text-white;
}

/* Titre du formulaire */
.containerInfoForm h1 {
  font-size: 1.6em;
}

/* paragraphe des infos du formulaire */
.containerInfoForm p {
  @apply mt-[20px];
}

/* ajout du style spécifique pour les inputs sur la page d'inscription */
.inputRegister {
  @apply mt-5;
}

/* ajout du style spécifique du bouton sur la page inscription */

.buttonRegister {
  @apply m-[15px];
}
